.Input {
    width: 100%;
    padding: 20px 0px 20px 0px;
}
.InputNumberLift {
    width: 50%;
}
.InputNumberLift input{
    text-align: center;
}
@media (min-width: 768px) {
    .InputNumberLift input {
        font-size: 50px;
    }
}
@media (max-width: 768px) {
    .InputNumberLift input {
        font-size: 40px;
    }
}