@font-face {
  font-family: "GlacialIndifferenceRegular";
  src: local("GlacialIndifferenceRegular"),
    url("./fonts/glacial-indifference/GlacialIndifference-Regular.otf") format("truetype");
  font-weight: normal;
}

* {
  font-family: 'GlacialIndifferenceRegular', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

html {
  overflow: hidden;
  height: 100%;
  font-size: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  height: 100%;
}

code {
  font-family: "GlacialIndifference-Regular", source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
